{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Cars{% endblock %}</h1>
  <a class="action" href="{{ url_for('cars.search') }}">Search!</a>
{% endblock %}

{% block content %}
  {% for car in cars %}
    <article class="cars">
        <header>
            <div>
                <h1>{{ car['year'] }}</h1>
                <div class="about">Make: {{ car['make'] }}</div>
                <div class="about">Model: {{ car['model'] }}</div>
                <div class="about">Trim: {{ car['trim'] }}</div>
                <div class="about">Drive: {{ car['drive'] }}</div>
                <div class="about">Mileage: {{ car['mileage'] }}</div>
                <div class="about">Price: {{ car['price'] }}</div>
            </div>
        </header>
    </article>
  {% endfor %}

  <div class="pagination">
    <a href="{{ url_for('cars.index') }}?page=0">first</a>
    <a href="{{ url_for('cars.index') }}?page={{ page_number - 1 }}">prev</a>
    {{ page_number }}
    <a href="{{ url_for('cars.index') }}?page={{ page_number + 1 }}">next</a>
    <a href="{{ url_for('cars.index') }}?page=-1">last</a>
  </div>
{% endblock %}