{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}This is the Index: A List of Every Car in the Database{% endblock %}</h1>
  <a class="action" href="{{ url_for('cars.search') }}">Search!</a>
{% endblock %}

{% block content %}
<h2> Sort</h2>
<form id="sort-form" action="{{ url_for('cars.index') }}" method="POST">
  <div class="sort-by">
    <select class="form-control select" id="sort-select" onchange="changeAction()">
      <option value="?">Reset Sort</option>
      {% for name in column_names %}
      <option value="?sortBy={{ name }}">{{ name }}</option>
      {% endfor %}
    </select>
  </div>
</form>  
  {% for car in cars %}
    <article class="cars">
        <header>
            <div>
                {% for name in column_names %}
                <div class="about">{{ name }}: {{ car[name] }}</div>
                {% endfor %}
            </div>
        </header>
    </article>
  {% endfor %}
  <div class="pagination">
    <a href="{{ url_for('cars.index') }}?page=0&sortBy={{ sortBy }}">first</a>
    <a href="{{ url_for('cars.index') }}?page={{ page_number - 1 }}&sortBy={{ sortBy }}">prev</a>
    {{ page_number }} of {{ total_pages }}
    <a href="{{ url_for('cars.index') }}?page={{ page_number + 1 }}&sortBy={{ sortBy }}">next</a>
    <a href="{{ url_for('cars.index') }}?page=-1&sortBy={{ sortBy }}">last</a>
  </div>
{% endblock %}