{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Search for Your Car{% endblock %}</h1>
  <div> {% if g.user is none %}  </div>
  <a href="{{ url_for('auth.login') }}">Login</a> 
  {% else %} 
  <div>Hello, {{ g.user.username }} </div>
  <div><a href="{{ url_for('cars.collection') }}">See your car collection</a></div>
  <div><a href="{{ url_for('auth.logout') }}">Logout</a></div>
  {% endif %}

{% endblock %}

{% block content %}
  <h2>Sort By:</h2>
  <form id="sort-form" action="{{ url_for('cars.search') }}" method="GET">
  <div class="sort-by">
    <select class="form-control select" id="sort-select" name="sortBy" onchange="this.form.submit()">
      <option value="price">Reset Sort</option>
      {% for name in column_names %}
      <option value="{{ name }}" {% if name == sortBy %} selected {% endif %}>{{ name }}</option>
      {% endfor %}
    </select>
  </div>
  <h2>Filter By:</h2>
  <div class="filter-by">
    <select class="form-control select" name="model" onchange="this.form.submit()">
      <option value="">All Models </option>
      {% for a in models %}
      <option value="{{ a['model'] }}" {% if a['model'] == model %} selected {% endif %} >{{ a['model'] }}</option>
      {% endfor %}
    </select>
  </div><div class="filter-by">
    <select class="form-control select" name="year" onchange="this.form.submit()">
      <option value="">All Years </option>
      {% for a in years %}
      <option value="{{ a['year'] }}" {% if a['year'] == year %} selected {% endif %} >{{ a['year'] }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="filter-by">
    <select class="form-control select" name="trim" onchange="this.form.submit()">
      <option value="">All Trims </option>
      {% for a in trims %}
      <option value="{{ a['trim'] }}" {% if a['trim'] == trim %} selected {% endif %}>{{ a['trim'] }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="filter-by">
    <select class="form-control select" name="drive" onchange="this.form.submit()">
      <option value="">All Drives</option>
      {% for a in drives %}
      <option value="{{ a['drive'] }}" {% if a['drive'] == drive %} selected {% endif %}>{{ a['drive'] }}</option>
      {% endfor %}
    </select>
  </div>
</form>

 <div class="pagination">
    <a href="{{ url_for('cars.search') }}?page=0&sortBy={{ sortBy }}&year={{ year }}&trim={{ trim }}&drive={{ drive }}">first </a>
    <a href="{{ url_for('cars.search') }}?page={{ page_number - 1 }}&sortBy={{ sortBy }}&year={{ year }}&trim={{ trim }}&drive={{ drive }}">prev </a>
    {{ page_number }} of {{ total_pages }} 
    <a href="{{ url_for('cars.search') }}?page={{ page_number + 1 }}&sortBy={{ sortBy }}&year={{ year }}&trim={{ trim }}&drive={{ drive }}">next </a>
    <a href="{{ url_for('cars.search') }}?page=-1&sortBy={{ sortBy }}&year={{ year }}&trim={{ trim }}&drive={{ drive }}">last</a>
  </div>
  <hr>
  {% for car in cars %}
  <article class="cars">
    <header>
      {% if g.user is not none %}
      {% if is_car_in_collection(car['id']) == true %}
        <a href="{{ url_for('cars.modify_collection', car_id = car['id']) }}"> Remove this car from your collection </a>
      {% else %}
        <a href="{{ url_for('cars.modify_collection', car_id = car['id']) }}"> Add this car to your collection </a>
      {% endif %}
      {% endif %}
      <a class="action" href="{{ url_for('cars.single_view') }}?car_id={{ car['id'] }}&page={{ page_number }}&trim={{ trim }}&year={{ year }}&drive={{ drive }}&sortBy={{ sortBy }}">  
        <div>
          {% for name in column_names %}
          {% if name == sortBy %}
          <h2> {% if name == 'Picture' %} <img src="data:image/jpeg;base64,{{ car[name] }}"/> {% else %} {{ name }}: {{ car[name] }} {% endif %} </h2>
          {% endif %}
          {% endfor %}
          {% for name in column_names %}
          <div class="about">{% if name != sortBy %} {% if name == 'Picture' %} <img src="data:image/jpeg;base64,{{ car[name] }}"/> {% else %} {{ name }}: {{ car[name] }} {% endif %}{% endif %}</div>

          {% endfor %}
        </div>
      </a>
    </header>
  </article>
  {% if not loop.last %}
    <hr>
  {% endif %}
  {% endfor %}
  <div class="pagination">
    <a href="{{ url_for('cars.search') }}?page=0&sortBy={{ sortBy }}&year={{ year }}&trim={{ trim }}&drive={{ drive }}">first</a>
    <a href="{{ url_for('cars.search') }}?page={{ page_number - 1 }}&sortBy={{ sortBy }}&year={{ year }}&trim={{ trim }}&drive={{ drive }}">prev</a>
    {{ page_number }} of {{ total_pages }}
    <a href="{{ url_for('cars.search') }}?page={{ page_number + 1 }}&sortBy={{ sortBy }}&year={{ year }}&trim={{ trim }}&drive={{ drive }}">next</a>
    <a href="{{ url_for('cars.search') }}?page=-1&sortBy={{ sortBy }}&year={{ year }}&trim={{ trim }}&drive={{ drive }}">last</a>
  </div>
{% endblock %}