{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Search for Your Car!{% endblock %}</h1>
  <a class="action" href="{{ url_for('cars.index') }}">Back to Index</a>
{% endblock %}

{% block content %}
<div id="box">
  </div>
<button id="hello">hello</button>
<div class="dropdown">
  <button class="dropbtn">Model</button>
  <div class="dropdown-content">
      {% for model in models %}
      <form action="{{ url_for('cars.search_results') }}" method="post">
          <input type="submit" name="model" value="{{ model['model'] }}">
      </form>  
      {% endfor %}
  </div>
</div>
<div class="dropdown">
  <button class="dropbtn">Trim</button>
  <div class="dropdown-content">
      {% for trim in trims %}
      <form action="{{ url_for('cars.search_results') }}" method="post">
          <input type="submit" name="trim" value="{{ trim['trim'] }}">
      </form>  
      {% endfor %}
  </div>
</div>
<div class="dropdown">
    <button class="dropbtn">Drive</button>
  <div class="dropdown-content">
      {% for drive in drives %}
      <form action="{{ url_for('cars.search_results') }}" method="post">
          <input type="submit" name="drive" value="{{ drive['drive'] }}">
      </form>  
      {% endfor %}
  </div>
</div>

<form action="{{ url_for('cars.text_search_results') }}" method="post">
  <input type="text" name="car" value="search by make, model, trim, or drive">
  <input type="submit" value="Submit">
</form>


{% endblock %}