{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Here's your car!{% endblock %}</h1>
  <a class="action" href="{{ url_for('cars.index') }}">Back to Index</a>
  <a class="action" href="{{ url_for('cars.search') }}">Back to Search</a>
  <h2>Here's your car!</h2>
{% endblock %}

{% block content %}
<div>
  <article class="cars">
  <header>
      <div>
          {% for name in column_names %}
          <div class="about">{{ name }}: {{ car[name] }}</div>
          {% endfor %}
      </div>
  </header>
</div>

{% endblock %}