{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Cars{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for car in cars %}
    <article class="cars">
        <header>
            <div>
                <h1>{{ car['year'] }}</h1>
                <div class="about">Make: {{ car['make'] }}</div>
                <div class="about">Model: {{ car['model'] }}</div>
                <div class="about">Trim: {{ car['trim'] }}</div>
                <div class="about">Mileage: {{ car['mileage'] }}</div>
            </div>
        </header>
    </article>
  {% endfor %}
{% endblock %}